@font-face {
    font-family: "koodak";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BKoodakBold.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/BKoodakBold.woff?v=4.1.0") format("woff"), url("../fonts/BKoodakBold.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
}
body {
	direction: rtl;
	font-family: koodak !important;
	font-weight: normal;
	font-style: normal;
	background: #eee;
	
	}
a{
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
a:hover{
    text-decoration: none;
}
.navbar-default{
	opacity:0.98;
	border-bottom:2px solid #8F6700;
	border-top:1px solid #8F6700;
	height:80px;	
}
.navbar-brand {
    padding: 3px;
}
.navbar-nav {
    float: right;
    margin: 0px;
    padding: 14px;
	font-family: koodak !important;
	color:#000;
}
#navbar-header > button {
	background-color:#999;
	
}
.footerDesign{
	clear:both;
	text-align:center;
	background-color:black;
	color:#777;
	padding:20px 0;
}
ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 0;
}
.para{
	background-image: url("../images/recent6.jpg");
	background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFF !important;
    margin-top: 10px;
	height:300px;
    padding-bottom: 75px;
    border-top: 2px solid #8F6700;
    border-bottom: 2px solid #8F6700;
}
.footerInfo{
	background-color:#333;
	color:white;
	border-bottom: 2px solid #8F6700;
}

i.fa-facebook{
	background-color:#3a5795 !important;
	color:#fff !important;
	}
i.fa-facebook:hover{
	background-color:#fff !important;
	color:#3a5795 !important;
	}
i.fa-google-plus{
	background-color:#d34836 !important;
	color:#fff !important;
	}
i.fa-google-plus:hover{
	background-color:#fff !important;
	color:#d34836 !important;
	}
i.fa-linkedin{
	background-color:#1e88bd !important;
	color:#fff !important;
	}
i.fa-linkedin:hover{
	background-color:#ffffff !important;
	color:#1e88bd !important;
	}
i.fa-instagram{
	background-color:#517fa4 !important;
	color:#fff !important;
	}
i.fa-instagram:hover{
	background-color:#fff !important;
	color:#517fa4 !important;
	}
.col-social-icons i {
	width: 40px;
	height: 40px;
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	color: #333;
	border-radius: 2px;
	transition-duration:100ms;
	transition-property:all;
	transition-timing-function:ease-in;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.horizontal-row{
	border-bottom: solid 1px #fff;
	border-top: solid 1px #ddd;
}
.nav li a:active{
	
}
.nav li a:hover{
	color:#DAA520 !important;
	font-family: koodak !important;
	text-decoration:none;
	}
.nav li a{
	font-size:large;
	/*border-bottom:1px solid #DAA520;*/
	font-family: koodak !important;
	}
.active a{
	color:#daa520 !important;
	background:none !important;
	}
@media screen and (max-width:767px){
	.navbar-brand  img{
    	width:80px;
	}
}

.project{
	padding:30px;
	}
.rslides_tabs .rslides_here a {
    background: none repeat scroll 0% 0% rgba(143, 103, 0, 0.8);
}
.rslides_tabs a {
    box-shadow: 0px 0px 2px 0px rgba(239, 229, 130, 0.3) inset;
    background: none repeat scroll 0% 0% rgba(239, 222, 130, 0.8);
	border-color: #8F6700;
	border-width:1px;
	border-style:solid;
}
.footerInfo .col-md-4{
	padding:20px 50px;
	}
.goldenColor{
	color:#daa520;
}
.copyright a{
	color:#DAA520;
	}



.parallax-text h1{
    font-size:60px;
    text-shadow: 0 0 2px #333;
    text-align: center;
    margin-top: 120px;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: right;
    overflow: hidden;
    margin: 15px;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 30%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    direction: rtl;
    text-align: right;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
    background: #4a3753;
}

figure.effect-honey img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-honey:hover img {
    opacity: 0.5;
}

figure.effect-honey figcaption::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-honey h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 1.5em;
    width: 100%;
    text-align: right;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-honey h2 i {
    font-style: normal;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 i {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}